.content {
    box-sizing: border-box;
    max-width: 1024px;
    padding-right: 341px;
    margin-left: auto;
    margin-right: auto;
}
.withsmall {
    box-sizing: border-box;
    max-width: 1024px;
    margin-right: -341px;
    display: flex;
    flex-direction: row;
    align-items: start;
}
.withsmall > :not(small) {
    box-sizing: border-box;
    width: 682px;
    margin-top: 0;
}
.withsmall > small {
    width: 341px;
    padding-left: 16px;
}

@media(max-width: 1025px) {
    .content {
        max-width: 682px;
        padding-right: unset;
    }
    .withsmall {
        max-width: unset;
        display: unset;
    }
    .withsmall > :not(small) {
        width: unset;
        margin-top: unset;
    }
    .withsmall > small {
        width: unset;
        padding-left: unset;
    }
}
